@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic);

.topthem{
    background-color: white;
    width: 16.5%;
    height: 88px;
    padding: 10px;
    float: left;
}
.topmid{
    background-color: white;
    width: 33%;
    padding: 10px;
    float: left;
}